<div id="pagination">
  <% if @total_posts > 1 && @total_posts != @page.to_i %>
    <%= link_to t(".older_posts"), posts_page_path(@page.to_i+1), class: "older_posts" %>
  <% end %>

  <% if @total_posts > 1 && @page.to_i > 1 %>
    <%= link_to t(".newer_posts"), posts_page_path(@page.to_i-1), class: "newer_posts" %>
  <% end %>
</div>
